.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: transparent;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  padding: 40px;
  box-sizing: border-box;
  align-items: stretch; 
  background-color: transparent;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: white;
  flex: 1; 
  background-color: transparent;
  border: none;
  padding: 20px;
}

.topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px; 

}

.topicLink {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

.topicLink:hover {
  background-color: white;
  color: #6a5acd;
}


.rightSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; 
  width: 100%;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
  gap: 5px;
}



.mainContent {
  flex: 3; 
  text-align: center;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 20px;
}


.threadContainer {
  flex: 1;
  min-height: 500px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: transparent;
  padding: 5px;
}

.loaderText,
.endMessage {
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 1; 
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.cardSubtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.cardContent {
  font-size: 16px;
  color: #444;
}

@media (max-width: 576px) {
  .contentWrapper {
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

  }

  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .rightSidebar,
  .mainContent {
    width: 100%;
    margin: 0;
  }
  .mainContent{
    flex: 2;
  }

  .leftSidebar{
    display: none;
    flex: 2;
  }
  .rightSidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .topicLink {
    font-size: 16px;
    padding: 10px;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .contentWrapper {
    flex-direction: row;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftSidebar,
  .rightSidebar {
    flex: 1;
  }
  

  .mainContent {
    flex: 2;
  }

  .card {
    padding: 10px;
  }
}


