.card {
  background-color: transparent;
  border: 2px solid;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.content {
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.5;
  color: #C8C8C8	;
  padding: 10px 0;
}

.meta {
  font-size: 14px;
  color: #C8C8C8	;
}

.creator {
  text-decoration: none;
}

.creator:hover {
  text-decoration: underline;
}
