.threadListItem {
    width: 95%;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: black;
    flex-grow: 1;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .secondaryText {
    font-size: 14px;
    color: grey;
  }
  
  .creator {
    font-weight: bold;
  }
  
  .removeButton {
    background: none;
    border: none;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
  }
  
  .removeButton:hover {
    color: #c9302c;
  }
  
  .divider {
    height: 1px;
    background-color: #ddd;
    margin-top: 10px;
  }
  