.card {
    background-color: transparent;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .card:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
  
  .cardLink {
    text-decoration: none;
    color: inherit;
  }
  
  .cardTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  
  .cardSubtitle {
    font-size: 14px;
    color: #C8C8C8	;
    margin-bottom: 10px;
  }
  .voteContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .voteButton {
    color: white;
    background-color: #1E64FA;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: transparent;
  }
  
  .voteButton:hover {
    background-color: #0056b3;
  }
  
  
 
  