.appBar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logo img {
  height: 35px; 
  margin-right: 5px; 
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.navLink {
  color: black;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px; 
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #f0f0f0;
}

.dropdown {
  position: relative;
}

.dropbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 16px; 
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.dropdownContent a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 12px; 
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease;
}

.dropdownContent a:hover {
  background-color: #f5f5f5;
  color: #333;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.authLinks {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
}

.authLink {
  color: white;
  background-color: #1E64FA;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; 
  padding: 8px 20px; 
  border-radius: 8px; 
  transition: background-color 0.3s, color 0.3s;
}

.authLink:hover {
  background-color: white;
  color: #6a5acd;
}

.menuButton {
  display: block;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.userSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.avatarButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  gap: 5px; 
}

.avatar {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 16px;
}

@media (max-width: 320px) {
  .appBar {
    padding: 5px 10px; 
  }

  .navMenu {
    flex-direction: column; 
    gap: 5px; 
  }

  .navLink {
    font-size: 12px; 
  }

  .authLinks {
    gap: 5px; 
  }

  .authLink {
    font-size: 10px; 
    padding: 4px 8px; 
  }

  .menuButton {
    font-size: 18px; 
  }

  .dropdownContent a {
    padding: 6px 10px; 
    font-size: 10px; 
  }

  .avatar {
    width: 25px; 
    height: 25px;
  }

  .logo img {
    height: 20px; 
  }
}
